/* Dispositivos móveis */

@media (max-width: 541px) {

    .menuButton {
        position: relative;
    }

    .buttonMenu{
        z-index: 1000;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}