/* Dispositivos móveis */

@media (max-width: 541px) {

    .menuButton {
        position: relative; /* Fixa o botão na tela */
        right: 20px; /* Distância da direita da tela */
        bottom: 20px; /* Distância da parte inferior da tela */
        z-index: 1000; /* Garante que o botão fique acima de outros elementos */
      }
      
      .buttonMenu {
        position: absolute; /* Posiciona o botão em relação ao contêiner pai */
        right: 20px; /* Distância da borda direita do contêiner */
        bottom: 20px; /* Distância da borda inferior do contêiner */
        z-index: 1000; /
        display: flex;
        align-items: center;
        justify-content: center;

      }
      

}