.header {
    cursor: pointer;
    position: fixed;
    top: -80px; 
    left: 0;
    right: 0;
    width: 100%;
    background-color: #2B2A33;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
}

.header.visible {
    top: 0;
    opacity: 1;
}

.fixedHeaderTitleComp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fixedHeaderTitle {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.fixedHeaderTitle:hover {
    color: #41ace2;
    transition: 0.3s;
}

.sectorList {
    display: flex;
    gap: 20px; 
    margin-right: 5%;
}

.sectorList p {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sectorList p:hover {
    color: #41ace2;
    transition: 0.3s;
}

  /* 
                                 <---------------- Tablet ---------------->
*/

@media only screen and (min-width: 541px) and (max-width: 768px) {
    .sectorList {
        display: flex;
        gap: 20px; 
        margin-right: 10%;
    }
}

  /* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (min-width: 320px) and (max-width: 541px) {
    .header {
        display: none;
    }
}