.sectorTecnologias {
    background-color: #18181E;
    margin-bottom: 0;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
}

.titleTecnologias {
    color: #ffff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px; 
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.textTecnologias {
    color: #41ace2;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    margin-bottom: 40px; 
}

.tecnologias {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    align-items: center; 
}

.tecnologias h2 {
    color: #41ace2;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.prototipagemDiv, .backendDiv, .frontendDiv {
    border-radius: 10px;
    background-color: #2B2A33;
    padding: 5px 10px 10px 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconsPrototipagem, .iconsBackend, .iconsFrontend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
}

.vueIcon, .reactIcon, .reactnativeIcon, .htmlIcon, .cssIcon, .javascriptIcon, .mysqlIcon, .djangoIcon, .pythonIcon, .progressIcon, .figmaIcon, .canvaIcon, .miroIcon {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Lato';
    font-weight: 300;
    cursor: default;
}

.vueIcon:hover, .reactIcon:hover, .reactnativeIcon:hover, .htmlIcon:hover, .cssIcon:hover, .javascriptIcon:hover, .mysqlIcon:hover, .djangoIcon:hover, .pythonIcon:hover, .progressIcon:hover, .figmaIcon:hover, .canvaIcon:hover, .miroIcon:hover {
    color: #41ace2;
    transition: 0.5s;
}

.tecnologiaItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tecnologiaRow {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (min-width: 320px) and (max-width: 541px) {

    .titleTecnologias {
        font-size: 26px;
    }

    .textTecnologias {
        font-size: 16px;
    }

    .tecnologias h2 {
        color: #ffff;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .prototipagemDiv, .backendDiv, .frontendDiv {
        border-radius: 10px;
        background-color: #2B2A33;
        padding: 5px 10px 10px 10px;
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iconsPrototipagem, .iconsBackend, .iconsFrontend {
        justify-content: center;
        gap: 10px;
    }

    .vueIcon, .reactIcon, .reactnativeIcon, .htmlIcon, .cssIcon, .javascriptIcon, .mysqlIcon, .djangoIcon, .pythonIcon, .progressIcon, .figmaIcon, .canvaIcon, .miroIcon {
        font-size: 24px;
        gap: 4px;
    }
    
}
