.sectorContato {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .contatotextDiv {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contatoTitle {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
  }
  
  .contatoSubtitle {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #41ace2;
    margin-top: 10px;
  }
  
  .contatoBox {
    display: flex;
    background-color: #2B2A33;
    border-radius: 10px;
    width: 60%;
    height: 400px;
    min-width: 600px;
  }
  
  .contatoImg {
    height: 100%;
    width: auto;
    margin-right: 5%;
    padding-left: 5%;
    object-fit: cover;
  }
  
  .contatoText {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-right: 5%;
  }
  
  .boxTitle {
    font-family: "Roboto", sans-serif;
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
  }
  
  .boxsubtitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0px; 
  }
  
  .contatoIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;

  }
  
  .githubIconContato, .linkedinIconContato, .mailIconContato {
    font-size: 40px;
    color: #ffffff;
    transition: color 0.3s;
  }

  .linkedinIconContato, .mailIconContato {
    padding-left: 10%;
  }
  
  .githubIconContato:hover, .linkedinIconContato:hover, .mailIconContato:hover {
    color: #41ace2;
  }
  
  .infoContato {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;;
    margin-top: 5%;
    gap: 15px;
    
  }
  
  .contatoLocal, .contatoPhone {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    justify-content: center;
  }
  
  .localIcon, .phoneIcon {
    font-size: 20px;
  }
  
  .contatoForm {
    display: flexbox;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    width: 60%; 
    margin-top: 40px;
  }

  .nomeEmpresaDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
  
  .nomeContato, .emailContato {
    width: 40%;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background-color: #212121;
    color: #ffffff; 
  }

  .mensagemDiv {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .mensagemContato {
    padding: 15px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    min-height: 200px; 
    background-color: #212121;
    color: #ffffff; 
  }
  
  .nomeContato:focus, .emailContato:focus, .mensagemContato:focus {
    outline: none;
    transition: opacity 0.3s ease;
  }

  .nomeContato:focus::placeholder, .emailContato:focus::placeholder, .mensagemContato:focus::placeholder {
    opacity: 0;
  }

  .contatoFormRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sendButtonRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding: 15px 20px; 
    background-color: #212121;
    color: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 5%;
    transition: 0.3s;
    border: 1px solid #ffffff;
  }

  .sendButton:hover {
    background-color: #18181E;
    transition: 0.3s;
    width: 160px;
  }

  .sendIcon {
    font-size: 24px;
    padding-right: 10px;
    color: #ffffff;
  }
  
  input::placeholder, textarea::placeholder {
    color: #ffff;
  }

  /* 
                                 <---------------- Tablet ---------------->
*/

@media only screen and (min-width: 541px) and (max-width: 768px) {
  
  .contatoBox {
    display: flex;
    background-color: #2B2A33;
    border-radius: 10px;
    width: 80%;
    height: 300px;
    min-width: 400px;
  }
  
  .boxTitle {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
  }
  
  .boxsubtitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0px; 
  }
  
  .contatoIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }

  .githubIconContato, .linkedinIconContato, .mailIconContato {
    font-size: 20px;
    color: #ffffff;
    transition: color 0.3s;
  }

  .localIcon, .phoneIcon {
    font-size: 14px;
  }

  .nomeContato, .emailContato {
    min-width: 150px;
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background-color: #212121;
    color: #ffffff; 
  }

  .nomeContato, .emailContato, .mensagemContato {
    font-size: 12px;
  }
  .mensagemDiv {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    padding: 15px 20px; 
    background-color: #212121;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 3%;
    transition: 0.3s;
    border: 1px solid #ffffff;
  }

  .sendButton:hover {
    background-color: #18181E;
    transition: 0.3s;
    width: 120px;
  }

  .sendIcon {
    font-size: 20px;
    padding-right: 10px;
    color: #ffffff;
  }

}

/* 
                                 <---------------- Mobile ---------------->
*/

@media only screen and (min-width: 320px) and (max-width: 541px) {

  .sectorContato {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contatoBox {
    display: flex;
    background-color: #2B2A33;
    border-radius: 10px;
    height: 300px;
    min-width: 260px;
    overflow: hidden;
    padding-right: 15%;
  }

  .contatoImg {
    width: auto; 
    height: 100%; 
    object-fit: cover; 
    object-position: left; 
    margin-left: -50px
  }

  .contatoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .contatoTitle {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
  }

  .boxTitle {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
  }

  .boxsubtitle {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 0px; 
  }

  .contatoIcons {
    display: flex;
    justify-content: center;
    gap: 15px;

  }

  .githubIconContato, .linkedinIconContato, .mailIconContato {
    font-size: 16px;
    color: #ffffff;
    transition: color 0.3s;
  }

  .localIcon, .phoneIcon {
    font-size: 14px;
  }

  .contatoLocal, .contatoPhone {
    font-size: 12px;
  }

  .nomeEmpresaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .nomeContato, .emailContato {
    width: 80%; 
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    background-color: #212121;
    color: #ffffff; 
  }

  .nomeEmpresaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .mensagemDiv {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .mensagemContato {
    width: 100%;
    min-height: 100px;
  }

  .sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    padding: 15px 20px; 
    background-color: #212121;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ffffff;
  }

  .sendButton:hover {
    background-color: #18181E;
    transition: 0.3s;
    width: 100px;
  }

  .sendIcon {
    font-size: 18px;
    padding-right: 10px;
    color: #ffffff;
  }
}
  
  
  